body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #434455;
    background-color: #FFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: currentColor;
}
img {
  display: block;
  width: 100%;
}
h2 {
    font-size: 36px;
    color: #2e2f42;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.02em;
    
}
.container { 
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.mobile-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    }
.mobile-icon {
    fill: #2F2F37;
}
.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-gray {
    color: #2e2f42;
}
.header-container {
        display: none;
}
.narrative {
    background-image: linear-gradient( to bottom, 
                    rgba(46, 47, 66, 0.7), 
                    rgba(46, 47, 66, 0.7)), 
                    url(../images/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*max-width: 320px;*/
    background-color: #2E2F42;
    padding: 72px 0 72px;
    margin: 0 auto;
}
.narrative-title {
    max-width: 288px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
}
.narrative .btn {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    margin-top: 72px;
    padding: 16px 32px;
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.narrative .btn:hover,
.narrative .btn:focus {
    background-color: #404BBF;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.function,
.portfolio {
    padding: 96px 0 96px;
}
.function ul {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.function-item {
    width: 100%;
}
.function-item .subtitle {
    text-align: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.function-box-icon {
    display: none;
}
.function-list .section-text {
    font-weight: 500;
}
.team {
    background-color: #F4F4FD;
    padding: 96px 0 96px;
}
.team-subtitle,
.portfolio-subtitle {
    margin-bottom: 72px;
}
.team .team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-item {
    width: 100%;
}
.team-item {
    background: #FFF;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-information {
    padding: 32px 0 32px;
}
.team .subtitle,
.team .section-text {
    text-align: center;
}
.team .subtitle,
.team .section-text {
    margin-bottom: 8px;
}
.team-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-item-icon {
    width: 40px;
    height: 40px;
}
.team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}
.team-icon {
    fill: #f4f4fd;
}
.portfolio .subtitle {
    background:#FFF;
}
.portfolio ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio li {
    background: #FFF;
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-information {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio .subtitle {
    margin-bottom: 8px;
}
.portfolio-photo {
    position: relative;
    overflow: hidden;
}
.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-text {
    transform: translateY(0%);
}
footer {
    background: #2E2F42;
    padding: 96px 0 96px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-one {
    margin: 0;
}
.footer-logo {
    display: flex;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    justify-content: center;
}
.footer-logo-gray {
    color: #f4f4fd;
}
.footer-text {
    color: #F4F4FD;
    max-width: 288px;
    margin-bottom: 72px;
}
.footer-social-text {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     margin-bottom: 16px;
     text-align: center;
}
.footer-social-list {
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
    justify-content: center;
}
.footer-social-item {
    width: 40px;
    height: 40px;
    
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-icon {
    fill: #f4f4fd;
}
.footer-form-wrap {
    margin: 0;
}
.footer-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
.footer-form-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    padding-left: 16px;
    color: #ffffff;
}
.footer-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
}
.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    fill: #FFFFFF;
}
.footer-btn:hover,
.footer-btn:focus {
    background-color: #404BBF;
}
.footer-form-icon {
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}
.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.close {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}
.modal-close-btn:hover .close,
.modal-close-btn:focus .close {
    fill: #FFF;
}
.modal-text {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.modal-input-wrap {
    position: relative;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-field {
    margin-bottom: 16px;
}
.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}
.modal-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 116.667%;
    letter-spacing: 0.04em;
}
.modal-checkbox {
    margin-bottom: 24px;
}
.modal-btn {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    margin-top: 24px;
    padding: 16px 32px;
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}
.form-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
}
.form-label-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .form-label span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.form-label a {
    color: #4D5AE5;
    text-decoration-line: underline;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .container {
   max-width: 768px;
  }
  .narrative {
      padding: 112px 0;
    }
  .narrative .btn {
      margin-top: 36px;
    }
    .function ul {
      gap: 24px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .function-item {
      width: calc((100% - 24px) / 2);
    }
    .function-item .subtitle {
      text-align: start;
    }
    .team .team-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 24px;
      row-gap: 48px;
    }
    .team-item {
      width: calc((100% - 24px) / 2);
    }
    .portfolio ul {
      flex-direction: row;
      column-gap: 24px;
      row-gap: 48px;
      flex-wrap: wrap;
    }
    .portfolio-item {
      width: calc((100% - 24px) / 2);
   }
   .wrap {
      display: flex;
      gap: 24px;
   }
   .footer-logo {
    justify-content: flex-start;
   }
   .footer-social-text {
      text-align: start;
    }
  .footer-form-text {
    text-align: start;
  }
  .footer-form {
    gap: 24px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
 .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
 }
 .header-container {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}
.header-menu {
    display: flex;
    gap: 40px;
}
.header-menu:active {
    color: #404BBF;
}
.header-link:hover,
.header-link:focus {
    color: #404bbf;
}
.header-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.header-contacts { 
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.32px;
    padding-bottom: 24px;
    padding-top: 24px;
    margin-left: auto;
}
.header-contacts ul {
    display: flex;
    gap: 40px;
}
.header-contacts:active {
    color: #404BBF;
}
.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}
.adress-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
  .narrative {
    max-width: 1440px;
    padding: 188px 0 188px;
  }
  .narrative-title {
    max-width: 496px;
    font-size: 56px;
   }
   .narrative .btn {
    margin-top: 48px;
   }
   .function,
   .team,
   .portfolio  {
      padding: 120px 0 120px;
   }
  .function-item {
    width: calc((100% - 72px) / 4);
  }
  .function-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  footer {
    padding: 100px 0 100px;
  }
  .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer-one {
    margin-right: 120px;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social-text {
    text-align: start;
  }
  .footer-form-wrap {
    margin-left: 80px;
  }
  .footer-form-text {
    text-align: start;
  }
  .footer-form {
    gap: 24px;
    flex-direction: row;
  }
}